

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

body.dark-mode {
  background-color: #343a40;
}

.navbar-expand .navbar-nav .dropdown-menu {
  margin-left: -50px;
}